<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <div class="form-wrapper">
            <h1>Sign In</h1>
            <form id="form" onsubmit="login(event)">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <!-- <button type="submit">Sign In</button> -->
                <input class="submit" type="submit" id="btn" value="Sign In">
                <p>Don't have an account? <a href="signup.html">Sign Up</a></p>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
    <script src="login.js"></script>
</body>

</html>